{# niveau 3 #}
{% extends 'Layouts/layout_vente.html.twig' %}

{% block vue %}
    <h1>Votre Panier</h1>

    {% if cart.cartContents is empty %}
        <p>Votre panier est vide.</p>
    {% else %}
        <table>
            <tr>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
            {% for content in cart.cartContents %}
                <tr>
                    <td>{{ content.flower.wording }}</td>
                    <td>{{ content.quantity }}</td>
                    <td>{{ content.flower.price * content.quantity }}€</td>
                    <td>
                        <button onclick="window.location.href='{{ path('product_remove', {id: content.id}) }}'">Supprimer</button>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <h2>Total : {{ totalPrice }}€</h2>

        <a href="{{ path('product_cart_checkout') }}" class="button">Commander</a>
        <a href="{{ path('product_cart_clear') }}" class="button button-red">Vider le panier</a>
    {% endif %}
{% endblock %}
