{# niveau 3 #}
{% extends 'Layouts/layout_vente.html.twig' %}

{% block vue %}
    <h1>Liste des Produits du site</h1>

    <div class="product-list">
        {% for flower in flowers %}
            <div class="product-item">
                <img src="{{ asset(flower.image) }}" alt="{{ flower.wording }}" class="product-image">
                <div class="product-info">
                    <div><strong>Nom :</strong> {{ flower.wording }}</div>
                    <div><strong>Prix :</strong> {{ flower.price }} €</div>
                    <div><strong>Stock :</strong> {{ flower.quantityStock }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
